/* Общие настройки чтобы UI занимал весь экран */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

/* Главный контейнер на весь экран. Хранит в себе все элементы UI */
.app-container {
  display: grid;
  width: 100%;
  height: 100vh;

  /* 3 колонки:
     - Левая Projects - ширина 200px
     - Центральная TimeLine - заполняет весь оставшийся центр
     - Правая LineSettings - ширина 250px (или 0px если свёрнута)
  */
  grid-template-columns: 200px 1fr 250px;

  /* 3 строки:
     - Верхняя Header
     - Средняя Timeline
     - Нижняя Patterns
  */
  grid-template-rows: 60px 1fr 250px;

  /* схема сетки grid */
  grid-template-areas:
    "header   header   header"
    "projects timeline settings"
    "projects patterns settings";

  /* анимация при изменении колонок*/
  transition: grid-template-columns 0.3s ease;
}

/* Когда блок LineSettings сворачивается убираем её ширину */
.app-container.settings-collapsed {
  grid-template-columns: 200px 1fr 0px;
}