.app-linesettings {
  grid-area: settings;
  background-color: #e0e0e0;
  border-left: 2px solid #000000; /* Черная линия слева */
  padding: 12px;
}

img {
  width: 230px;
  height: auto;
}
