.app-patterns {
  grid-area: patterns;
  background-color: #e0e0e0;
  border-top: 2px solid #000000; /* Черная линия сверху */
  padding: 12px;
}
.app-patterns {
  grid-area: patterns;
  background-color: #e0e0e0;
  border-top: 2px solid #000000;
  padding: 12px;
}
/* Стили для кнопки перехода */
.nav-page-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-page-button:hover {
  background-color: #f51c1c; /* При наведении кнопка меняет цвет */
  color: white;
}